<div class="info">
    <h3>Please follow these rules:</h3>
    <ol>
        <li>Upload only videos you created yourself. 
        </li>
        <li>Certain types of content are not allowed on Vimeo.
        </li>
        <li>Commercial and business videos can only be uploaded with Vimeo PRO.. 
        </li>
    </ol>
    Still have questions? Read the full <a target="_blank" href="https://vimeo.com/help/guidelines#video">Vimeo Guidelines</a>.
</div>
