@{
    ViewBag.Title = "About";
}

<article>
    <h1>Ahmed El-Kilani</h1>
    <p>
        .Net Software Engineer
    </p>

    <p>
        coder, programmer, developer or software engineer. 
    </p>
    <p>
        LinkedIn: <a href="http://www.linkedin.com/profile/view?id=52926910">http://www.linkedin.com/profile/view?id=52926910</a>
    </p>
    <p>
        Github: <a href="https://github.com/ahmedelkilani">https://github.com/ahmedelkilani</a>
    </p>
</article>

<aside>
    <h3>
        Quick Links
    </h3>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Upload", "Index", "Upload")</li>
        <li>@Html.ActionLink("Token", "Display", "Auth")</li>
    </ul>
</aside>
