<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="oauth2" type="OAuth2.Configuration.OAuth2ConfigurationSection, OAuth2, Version=0.1.*, Culture=neutral" />
  </configSections>
  <oauth2>
    <services>
      <add clientType="UnauthenticatedVimeoClient" enabled="true" 
           clientId="b24bbd18bf842b15cb0e6c8657ffa7b608e7e06e" 
           clientSecret="f3dc7b2a2e259b7bcf221b74aec32afb433dac30" 
           scope="public private create edit delete interact upload" 
           redirectUri="" />
      <add clientType="AuthenticatedVimeoClient" enabled="true" 
           clientId="" 
           clientSecret="efd857ca040ece637f3a9808c6fc8939" 
           redirectUri="" />
      <add clientType="AuthenticatedViaRedirectVimeoClient" enabled="true" 
           clientId="b24bbd18bf842b15cb0e6c8657ffa7b608e7e06e" 
           clientSecret="f3dc7b2a2e259b7bcf221b74aec32afb433dac30" 
           scope="public private upload" 
           redirectUri="http://localhost:5228/Auth" />
    </services>
  </oauth2>
</configuration>